@use 'sass:string';
@use 'config' as *;

@function joinBlock($list) {
  $result: '';
  $len: length($list);

  @for $i from 1 through $len {
    $item: nth($list, $i);
    $result: $result + '.' + $ns + '-' + $item;

    @if $i < $len and $item != '' {
      $result: $result + ',';
    }
  }
  @return $result;
}

@function selectorHandle($list, $parent, $mode: 'e') {
  $result: '';

  @each $item in $parent {
    @each $unit in $list {
      @if $mode == 'e' {
        $result: $result + $item + $e-separator;
      }
      @else if $mode == 'm' {
        $result: $result + $item + '.' + $m-separator;
      }
      @else {
        $result: $result + $item + '.' + $state-prefix;
      }

      $result: $result + $unit + ',';
    }
  }
  @return $result;
}

@function hitAllSpecialNestRule($selector) {
  @return hasModifier($selector) or hasWhenFlag($selector) or hasPseudoClass($selector);
}

@function selectorToString($selector) {
  @return '' + $selector;
}

@function hasModifier($selector) {
  $selector: selectorToString($selector);
  @return string.index($selector, $m-separator);
}

@function hasWhenFlag($selector) {
  $selector: selectorToString($selector);
  @return string.index($selector, '.' + $state-prefix);
}

@function hasPseudoClass($selector) {
  $selector: selectorToString($selector);
  @return string.index($selector, ':');
}
